---
layout: page
title: Convex Optimization
kind: homepage
search_omit: true
no_logo: true
---

<a href="https://github.com/btabibian/optimization"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>


{% assign sorted_posts = site.posts | sort:"title" %}
<ul class="post-list">
{% for post in sorted_posts %}
{% if post.categories contains 'optimization_' %}
<li><article><a href="{{ site.url }}{{ post.url }}"><h5 id="heading-5">{{post.title }}</h5> <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d,     %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt" max-height="inherit"><p class="pull-left"><figure class="pull-left-third"><a href="{{ site.url }}{{ post.url }}">  <img src="{{baseurl}}/notebooks/optimization/images/{{ post.img[0]}}" alt=""/></a></figure></p>{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape    _once }}
</span>{% endif %}

</a></article></li>
{% endif %}
{% endfor %}
</ul>

<h1> Homeworks </h1>
{% assign sorted_posts = site.posts | sort:"title" %}
<ul class="post-list">
{% for post in sorted_posts %}
{% if post.categories contains 'optimization_hw' %}

<li><article><a href="{{ site.url }}{{ post.url }}"><h5 id="heading-5">{{post.title }}</h5> <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d,     %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt" max-height="inherit"><p class="pull-left"><figure class="pull-left-third"><a href="{{ site.url }}{{ post.url }}">  <img src="{{baseurl}}/notebooks/optimization/images/{{ post.img[0]}}" alt=""/></a></figure></p>{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape    _once }}
</span>
{% endif %}
</a></article></li>
{% endif %}
{% endfor %}
