.reveal .footer {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 0.5em;
}

html.intro body {
        background:url("download.png");
	background-position:center;
	background-size: 100%;
}

.reveal .slides seiwction{
        background:url("MPI.png");
        background-position:center;
        background-size: 100%;

}


