---
layout: default
title: Notes
kind: homepage
---



<div id="features-wrapper">
				<section id="features" class="container">

                    
                    {% assign loopindex_ = 0 %}
                    {% for post in site.posts %}
                        {% if post.categories contains 'notes' %}
                            
                            {% assign loopindex = loopindex_ | modulo: 3 %}
                    
            {% if loopindex == 0 %}
                    <div class="row">
                        <div class="4u">

							<!-- Feature -->
								<section>
                                    {% if post.img[0] contains "http" %}
                                    <a href="{{post.url}}" class="image featured"><img src="{{ post.img[0]}}" alt="" /></a>
                                    {% else %}
									<a href="{{post.url}}" class="image featured"><img src="{{baseurl}}/images/{{ post.img[0]}}" alt="" /></a>
                                    {% endif %}
									<header>
										<h3>{{post.title}} </h3>
									</header>
									
								</section>

						</div>
            {% elsif loopindex == 1 %}
                        <div class="4u">

							<!-- Feature -->
								<section>
									{% if post.img[0] contains "http" %}
                                    <a href="{{post.url}}" class="image featured"><img src="{{ post.img[0]}}" alt="" /></a>
                                    {% else %}
									<a href="{{post.url}}" class="image featured"><img src="{{baseurl}}/images/{{ post.img[0]}}" alt="" /></a>
                                    {% endif %}
									<header>
										<h3>{{post.title}}</h3>
									</header>
									
								</section>

						</div>
            {% elsif loopindex == 2 %}
                        <div class="4u">

							<!-- Feature -->
								<section>
									{% if post.img[0] contains "http" %}
                                    <a href="{{post.url}}" class="image featured"><img src="{{ post.img[0]}}" alt="" /></a>
                                    {% else %}
									<a href="{{post.url}}" class="image featured"><img src="{{baseurl}}/images/{{ post.img[0]}}" alt="" /></a>
                                    {% endif %}
									<header>
										<h3>{{post.title}}</h3>
									</header>
									

						</div>
            
                        </div>
                        

        {% endif %}
                    {% assign loopindex_ = loopindex_ | plus:1 %}
                        {% endif %}
	  {% endfor %}
                        {% if loopindex_ | modulo: 3 != 0%}
                        </div>
                    {% endif %}
	  
</section></div>


