---
layout: default
---
<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
            <div class="3u">

            </div>
						<div class="6u">
							
                            <section class="home">
                                <p>
                            <h4>Downloading <i>{{page.filename}}</i></h4></p>
                            <p>Please wait, download should start shortly.</p>

                            </section>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <iframe width="1" height="1" frameborder="0" src="{{page.fileurl}}"></iframe>
						</div>
						<div class="3u">

            </div>

					</div>
									</div>
			</div>
			{{content}}