---
layout: default
kind: no-sidebar
---
<link rel="stylesheet" href="/css/pygments.css">
<div id="main-wrapper">
				<div id="main" class="container">
					<div id="content">

<article class="box post">
									<header>
										<h2>{{ page.title }}</h2>
										

									</header>								
									
                <div id="ipython">
                    {{content}}
                 </div>
        
                            

            
    	</article>
                    </div></div></div>


